extends ../layout

block content
  .container
      h1
        strong #{davatar.name}
      h4
        | For 
        strong 
           a(href=davatar.client.url) #{davatar.client.name}
      p #[strong Waist:] #{davatar.waist}
      p #[strong Hip:] #{davatar.hip}
      p #[strong SideHipDepth:] #{davatar.side_hip_depth}
      p #[strong FrontHipDepth:] #{davatar.front_hip_depth}
      p #[strong BackHipDepth:] #{davatar.back_hip_depth}
      p #[strong SkirtLength:] #{davatar.skirt_length}
      p #[strong BackHipArc:] #{davatar.back_hip_arc}      
      hr
      a.btn.btn-primary(href=davatar.url+'/draft') Draft
      a.btn.btn-primary(href=davatar.url+'/update') Update
      a.btn.btn-danger(href=davatar.url+'/delete') Delete